

.cart-container {
	padding: 2rem;
	max-width: 900px;
	margin: auto;
  }
  
  .cart-container h1 {
	text-align: center;
	color: #007b9e;
  }
  
  .cart-list {
	margin-top: 2rem;
  }
  
  .cart-item {
	display: flex;
	gap: 1rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid #ddd;
	padding-bottom: 1rem;
  }
  
  .cart-item img {
	width: 120px;
	height: 120px;
	object-fit: cover;
	border-radius: 8px;
  }
  
  .cart-details {
	flex: 1;
  }
  
  .cart-details h2 {
	margin: 0;
	font-size: 1.2rem;
  }
  
  .cart-quantity {
	margin: 0.5rem 0;
  }
  
  .cart-quantity input {
	width: 60px;
	padding: 0.3rem;
	margin-left: 0.5rem;
  }
  
  .item-total {
	font-weight: bold;
	color: #12a851;
  }
  
  .cart-details button {
	background-color: #f44336;
	color: white;
	border: none;
	padding: 0.4rem 1rem;
	border-radius: 6px;
	cursor: pointer;
  }
  
  .cart-details button:hover {
	background-color: #d32f2f;
  }
  
  .cart-summary {
	text-align: right;
	font-size: 1.2rem;
	font-weight: bold;
	margin-top: 2rem;
  }


  .empty-cart {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60vh;
	text-align: center;
  }
  
  .empty-message {
	font-size: 1.8rem;
	color: #555;
  }

  .continue-button {
	background-color: #2c8da7;
	color: white;
	padding: 0.6rem 1.2rem;
	border: none;
	border-radius: 8px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-top: 1.5rem; 
  }
  .continue-button:hover {
	background-color: #3da8c6;
  }
  
  .empty-message-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  
  
  @media (max-width: 1100px) {
	.cart-container {
	  padding: 1.5rem;
	}
  
	.cart-item {
	  flex-direction: column;
	  align-items: center;
	  text-align: center;
	}
  
	.cart-item img {
	  width: 100px;
	  height: 100px;
	}
  
	.cart-summary {
	  text-align: center;
	}
  }
  
  
  @media (max-width: 750px) {
	.cart-container {
	  padding: 1rem;
	}
  
	.cart-item img {
	  width: 90px;
	  height: 90px;
	}
  
	.cart-details h2 {
	  font-size: 1rem;
	}
  
	.cart-quantity input {
	  width: 50px;
	}
  
	.cart-summary {
	  font-size: 1rem;
	}
  }
  