

.home-container {
	padding: 2rem;
	text-align: center;
	max-width: 1200px;
	margin: auto;
	width: 100%;
	box-sizing: border-box;
  }
  
  .product-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	gap: 1.5rem;
	margin-top: 2rem;
  }



  .home-container, h1 {
	box-sizing: border-box;
	max-width: 90%; 
	word-wrap: break-word;
  }
  
  h1 {
	color: #0a5f76;
	font-size: 2rem;
  }
  
  
  @media (max-width: 1100px) {
  .navbar {
    flex-direction:column;
    align-items: flex-start;
  }

  .navbar-links {
    flex-direction: column;
    width: 100%;
    margin-top: 0.5rem;
  }

  .navbar-links li {
    margin-bottom: 0.5rem;
  }
}

  
  @media (max-width: 750px) {
	.navbar {
	  flex-direction: column;
	  align-items: flex-start;
	}
  
	.navbar-links {
	  flex-direction: column;
	  width: 100%;
	  margin-top: 0.5rem;
	}
  
	.navbar-links li {
	  margin-bottom: 0.5rem;
	}
}
  