

.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #22278b;
	color: #fff;
	padding: 20px;
	flex-wrap: wrap;
	font-family: Arial, sans-serif;
  }
  
  .footer-section {
	margin: 10px;
	text-align: center;
  }
  
  .admin-button {
	background-color: #fff;
	color: #7b0bc1;
	padding: 10px 20px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-weight: bold;
	transition: background-color 0.3s;
  }
  
  .admin-button:hover {
	background-color: #ddd;
  }
  
  @media screen and (max-width: 1100px) {
	.footer {
	  justify-content: space-around;
	  flex-direction: row;
	}
  }
  
  
  @media screen and (max-width: 600px) {
	.footer {
	  justify-content: center;
	  flex-direction: column;
	}
  }